<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('segments/head'); %>
    </head>
    <body class="container">

    <header>
        <%- include('segments/header'); %>
    </header>

    <main>
        <%- include(mainContent); %>>
    </main>

    <footer>
        <%- include('segments/footer'); %>
    </footer>

    </body>
</html>